* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}
:root {
  --primary-color: #EFFFFD;
  --secondary-color: #F6E7D8;
}
form {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}
 input{
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  font-size: 1rem;
}
input::placeholder{
  color: #151D3B;
}
.movie {
  width: 300px;
  padding: 0.5rem 1rem;
  position: relative;
}
.movie img {
  width: 100%;
  border-radius: 10px;
  box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.2);
}
main {
  display: flex;
  flex-wrap: wrap;
}
.name {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
}
.name span {
  background-color: #22254b;
  padding: 0.3rem;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: 15px;
}
span.green {
  color: green;
}
span.orange {
  color: orange;
}
span.red {
  color: red;
}
.review {
  background-color: #fff;
  padding: 2rem 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 1rem;
  max-height: 100%;
  transform: translateY(112%);
  transition: 0.5s ease-in;
  opacity: 0;
}
.movie:hover .review{
    opacity: 1;
    transform: translateY(4%);
}